<!DOCTYPE html>
<html>
<head>
  <title>CtaApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<h1>Not Getting Around Chicago Very Fast</h1>
</div>

<%= yield %>

</body>
</html>
