<h1>Velo Desk</h1>

<p>Welcome to this site! See what you can do:</p>

/*Change this link once sign in function is built out*/
<p><%= link_to "1. Sign In", bikes_url %></p>
<p>2. Claim a Bike</p>
<p>3. Get Your Ride On</p>
<p>4. Drop it off</p>